{
  "openapi": "3.0.3",
  "info": {
    "title": "ElDokan Customer API",
    "version": "1.0.0",
    "description": "Frozen Customer API adapter 0.8.0, Contract v1. Native credentialed customer cookies; Guest Cart sessions; header-only Guest Order capability. All responses private, no-store. Checkout and payment HTTP 200 can contain issues; browser return is not payment proof. Real staging acceptance remains required. Adapter 0.9.0 adds moderated verified-purchase reviews, seller reviews, paginated seller products and category best sellers. Adapter 0.10.0 adds password recovery, customer returns, product alerts, saved decision profiles, review images and feedback, diagnostics and catalog sitemap. Bosta integration is deferred.",
    "x-backend-version": "0.10.0",
    "x-contract-version": "v1"
  },
  "servers": [
    {
      "url": "https://www.eldokan.com/wp-json/eldokan-customer/v1",
      "description": "Current WordPress adapter (verify deployment version)"
    },
    {
      "url": "https://api.eldokan.com/v1/customer",
      "description": "Planned hostname; not deployed by this release"
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Account"
    },
    {
      "name": "Wishlist"
    },
    {
      "name": "Cart"
    },
    {
      "name": "Home"
    },
    {
      "name": "Products"
    },
    {
      "name": "Categories"
    },
    {
      "name": "Catalog Terms"
    },
    {
      "name": "Sellers"
    },
    {
      "name": "Search"
    },
    {
      "name": "Address Book"
    },
    {
      "name": "Checkout"
    },
    {
      "name": "Orders"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a customer and start a session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              },
              "example": {
                "email": "customer@example.com",
                "password": "correct-horse-battery-staple",
                "first_name": "Mahmoud",
                "last_name": "Ahmed"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created; the response sets the HttpOnly customer session cookie and atomically merges any valid guest Cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postAuthRegister",
        "security": [],
        "x-auth-class": "A",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "Register",
        "x-frozen-response": "Session / 201",
        "x-service-errors": [
          "invalid_email",
          "invalid_password",
          "invalid_name",
          "invalid_display_name",
          "invalid_phone",
          "phone_storage_unavailable",
          "account_exists",
          "registration_failed",
          "too_many_attempts"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Log in a customer and start a fresh session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "customer@example.com",
                "password": "correct-horse-battery-staple"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated; the response sets the HttpOnly customer session cookie and atomically merges any valid guest Cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postAuthLogin",
        "security": [],
        "x-auth-class": "A",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "`{email:string,password:string}`",
        "x-frozen-response": "Session / 200; native cookies",
        "x-service-errors": [
          "invalid_credentials",
          "too_many_attempts",
          "phone_storage_unavailable"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/auth/session": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Restore the current customer session and refresh CSRF",
        "security": [
          {
            "CustomerSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current authenticated customer and a fresh session-bound CSRF token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getAuthSession",
        "x-auth-class": "L",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "none",
        "x-frozen-response": "Session / 200",
        "x-service-errors": [
          "authentication_required",
          "phone_storage_unavailable"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Invalidate the active customer session",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active session invalidated and cookie cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postAuthLogout",
        "x-auth-class": "L+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "no business fields",
        "x-frozen-response": "`{logged_out:true}` / 200",
        "x-service-errors": [
          "authentication_required",
          "invalid_csrf_token"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the current customer account",
        "security": [
          {
            "CustomerSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Minimal private customer projection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getMe",
        "x-auth-class": "L",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "none",
        "x-frozen-response": "Customer / 200",
        "x-service-errors": [
          "authentication_required",
          "phone_storage_unavailable"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Update supported names and optional private phone",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "patchMe",
        "x-auth-class": "L+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "nonempty subset of first_name,last_name,display_name,phone",
        "x-frozen-response": "Customer / 200",
        "x-service-errors": [
          "unsupported_account_field",
          "empty_account_update",
          "invalid_account_field",
          "invalid_phone",
          "phone_storage_unavailable",
          "account_update_failed"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Update supported names and optional private phone",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postMe",
        "x-auth-class": "L+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "nonempty subset of first_name,last_name,display_name,phone",
        "x-frozen-response": "Customer / 200",
        "x-service-errors": [
          "unsupported_account_field",
          "empty_account_update",
          "invalid_account_field",
          "invalid_phone",
          "phone_storage_unavailable",
          "account_update_failed"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update supported names and optional private phone",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "putMe",
        "x-auth-class": "L+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "nonempty subset of first_name,last_name,display_name,phone",
        "x-frozen-response": "Customer / 200",
        "x-service-errors": [
          "unsupported_account_field",
          "empty_account_update",
          "invalid_account_field",
          "invalid_phone",
          "phone_storage_unavailable",
          "account_update_failed"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/wishlist": {
      "get": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Get the current customer's Wishlist",
        "security": [
          {
            "CustomerSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          }
        ],
        "responses": {
          "200": {
            "description": "Private visible ProductCard collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WishlistResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getWishlist",
        "x-auth-class": "L",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "lang",
        "x-frozen-response": "`{items:ProductCard[],count:int}` / 200",
        "x-service-errors": [
          "authentication_required"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/wishlist/items": {
      "post": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Add a visible parent product to Wishlist",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WishlistItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current Wishlist; changed is false when the item already existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WishlistMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postWishlistItems",
        "x-auth-class": "L+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "`{product_id:prd_*}`, optional lang",
        "x-frozen-response": "same + `changed:bool` / 200",
        "x-service-errors": [
          "invalid_product_id",
          "product_not_found"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/wishlist/items/{product_id}": {
      "delete": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Remove a product from Wishlist",
        "description": "All decorated responses are private, no-store. JSON mutations only. Removing an item that is not present succeeds with changed=false.",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prd_[1-9][0-9]*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current Wishlist and deterministic changed flag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WishlistMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "deleteWishlistItemsProduct_Id",
        "x-auth-class": "L+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "path, optional lang",
        "x-frozen-response": "same + `changed:bool` / 200",
        "x-service-errors": [
          "invalid_product_id"
        ]
      }
    },
    "/cart": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Restore or create the private guest/customer Cart",
        "description": "All decorated responses are private, no-store. JSON mutations only. Creates an opaque HttpOnly guest Cart session when no customer session exists. Membership is language-independent; prices and stock are recalculated by the server on every response. Customer Cart OR opaque Guest Cart session. GET restores/creates current session; mutations require current owner CSRF.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          }
        ],
        "responses": {
          "200": {
            "description": "Current Cart plus an in-memory CSRF token for Cart mutations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "items": [],
                    "count": 0,
                    "valid": true,
                    "owner_type": "guest",
                    "csrf_token": "7f1d8f35a1c9f6e9"
                  },
                  "meta": {
                    "request_id": "req_cart"
                  }
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getCart",
        "security": [],
        "x-auth-class": "C",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "lang",
        "x-frozen-response": "Cart / 200, Guest cookie when needed",
        "x-service-errors": [
          "cart_session_required",
          "authentication_required"
        ]
      }
    },
    "/cart/items": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Add one simple product or exact public variation selection",
        "description": "All decorated responses are private, no-store. JSON mutations only. Duplicate exact selections are retry-safe and return changed=false. Use PATCH to change quantity. Customer Cart OR opaque Guest Cart session. GET restores/creates current session; mutations require current owner CSRF.",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          },
          {
            "GuestCartSession": [],
            "CsrfToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemRequest"
              },
              "example": {
                "product_id": "prd_21417",
                "variation_id": "var_21419",
                "quantity": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current Cart and deterministic changed flag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postCartItems",
        "x-auth-class": "C+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "`{product_id:prd_*,variation_id?:var_*,quantity:1..999}`, optional lang",
        "x-frozen-response": "Cart + `changed` / 200",
        "x-service-errors": [
          "invalid_product_id",
          "invalid_variation_id",
          "invalid_quantity",
          "product_not_found",
          "variation_required",
          "invalid_variation",
          "not_purchasable",
          "out_of_stock",
          "insufficient_stock",
          "purchase_quantity_limit",
          "cart_line_limit_exceeded",
          "cart_product_unavailable"
        ]
      }
    },
    "/cart/items/{item_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Lang"
        },
        {
          "name": "item_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^cit_[a-f0-9]{32}$"
          }
        }
      ],
      "patch": {
        "tags": [
          "Cart"
        ],
        "summary": "Set an exact positive Cart item quantity",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          },
          {
            "GuestCartSession": [],
            "CsrfToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated current Cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "patchCartItemsItem_Id",
        "x-auth-class": "C+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "`{quantity:1..999}`, optional lang",
        "x-frozen-response": "Cart + `changed` / 200",
        "x-service-errors": [
          "cart_item_not_found",
          "invalid_quantity",
          "out_of_stock",
          "insufficient_stock",
          "purchase_quantity_limit"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only.  Customer Cart OR opaque Guest Cart session. GET restores/creates current session; mutations require current owner CSRF."
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove a Cart item",
        "description": "All decorated responses are private, no-store. JSON mutations only. Removing an absent item is deterministic and returns changed=false. Customer Cart OR opaque Guest Cart session. GET restores/creates current session; mutations require current owner CSRF.",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          },
          {
            "GuestCartSession": [],
            "CsrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current Cart and deterministic changed flag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "deleteCartItemsItem_Id",
        "x-auth-class": "C+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "path, optional lang",
        "x-frozen-response": "Cart + `changed` / 200",
        "x-service-errors": [
          "cart_item_not_found"
        ]
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Set an exact positive Cart item quantity",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          },
          {
            "GuestCartSession": [],
            "CsrfToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated current Cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postCartItemsItem_Id",
        "x-auth-class": "C+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "`{quantity:1..999}`, optional lang",
        "x-frozen-response": "Cart + `changed` / 200",
        "x-service-errors": [
          "cart_item_not_found",
          "invalid_quantity",
          "out_of_stock",
          "insufficient_stock",
          "purchase_quantity_limit"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only.  Customer Cart OR opaque Guest Cart session. GET restores/creates current session; mutations require current owner CSRF."
      },
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "Set an exact positive Cart item quantity",
        "security": [
          {
            "CustomerSession": [],
            "CsrfToken": []
          },
          {
            "GuestCartSession": [],
            "CsrfToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated current Cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartMutationResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "putCartItemsItem_Id",
        "x-auth-class": "C+",
        "x-mutation-csrf": "current owner session CSRF",
        "x-guest-capability": "none",
        "x-frozen-request": "`{quantity:1..999}`, optional lang",
        "x-frozen-response": "Cart + `changed` / 200",
        "x-service-errors": [
          "cart_item_not_found",
          "invalid_quantity",
          "out_of_stock",
          "insufficient_stock",
          "purchase_quantity_limit"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only.  Customer Cart OR opaque Guest Cart session. GET restores/creates current session; mutations require current owner CSRF."
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getHealth",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "none",
        "x-frozen-response": "`{service,version,status,ready}` / 200, `status=ok|degraded`",
        "x-service-errors": [
          "normalized infrastructure error"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/home": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Homepage read model",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "All decorated responses are private, no-store. JSON mutations only. Ordered bilingual Home sections. Editorial hero/banner records are active, scheduled and configured in ElDokan Admin.",
        "operationId": "getHome",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "lang",
        "x-frozen-response": "`{sections:HomeSection[]}` / 200",
        "x-service-errors": [
          "woocommerce_unavailable"
        ]
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List, search and filter products",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 48,
              "default": 24
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Public brand slug from GET /brands.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Public product-tag slug from GET /tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Major currency units (for example 600.00 EGP); matches parent Woo price including variable starting price."
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Major currency units (for example 600.00 EGP); matches parent Woo price including variable starting price."
          },
          {
            "name": "stock_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "in_stock",
                "out_of_stock",
                "on_backorder"
              ]
            }
          },
          {
            "name": "on_sale",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "price_asc",
                "price_desc",
                "best_selling",
                "rating",
                "relevance"
              ],
              "default": "newest"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Requires category slug. att_ID:atr_ID,atr_ID;att_ID:atr_ID. OR within group, AND across groups. At most 5 groups and 10 choices per group. IDs from category filters.",
            "schema": {
              "type": "string",
              "example": "att_1:atr_12,atr_13;att_2:atr_31",
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getProducts",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "ProductQuery",
        "x-frozen-response": "ProductCard[] / 200 + pagination in meta",
        "x-service-errors": [
          "invalid_price_range",
          "invalid_attribute_filter",
          "category_not_found"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product detail by stable ElDokan public ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prd_[0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "All decorated responses are private, no-store. JSON mutations only. A translated product may have a different public ID per language; ?lang selects its translated ID when WPML is active.",
        "operationId": "getProductsProduct_Id",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "path, lang",
        "x-frozen-response": "ProductDetail / 200",
        "x-service-errors": [
          "product_not_found"
        ]
      }
    },
    "/products/lookup": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Lookup product by slug",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getProductsLookup",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "required slug:string, lang",
        "x-frozen-response": "ProductDetail / 200",
        "x-service-errors": [
          "product_not_found"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "List categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "parent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getCategories",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "lang, optional parent category slug",
        "x-frozen-response": "Category[] / 200; roots by default",
        "x-service-errors": [
          "category_not_found",
          "woocommerce_unavailable"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/categories/{slug}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Category detail",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Percent-encode Arabic slugs in the URL."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDetailResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getCategoriesSlug",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "path, lang",
        "x-frozen-response": "Category + `children:Category[]` / 200",
        "x-service-errors": [
          "category_not_found"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/categories/{slug}/filters": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Category-specific filter definitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Percent-encode Arabic slugs in the URL."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryFiltersResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getCategoriesSlugFilters",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "path, lang",
        "x-frozen-response": "CategoryFilters / 200",
        "x-service-errors": [
          "category_not_found",
          "category_filters_failed"
        ],
        "description": "All decorated responses are private, no-store. JSON mutations only."
      }
    },
    "/brands": {
      "get": {
        "tags": [
          "Catalog Terms"
        ],
        "summary": "List all non-empty product brands",
        "description": "All decorated responses are private, no-store. JSON mutations only. Names and slugs follow the effective ar/en language. Results are alphabetic and paginated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated brand collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandListResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "brd_12",
                      "name": "Apple",
                      "slug": "apple",
                      "image": {
                        "url": "https://www.eldokan.com/wp-content/uploads/brands/apple.webp",
                        "alt": "Apple"
                      }
                    }
                  ],
                  "meta": {
                    "request_id": "req_example",
                    "page": 1,
                    "per_page": 50,
                    "total": 1,
                    "total_pages": 1
                  }
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getBrands",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "lang,page>=1 default1,per_page 1..100 default50,search",
        "x-frozen-response": "Brand[] / 200 + pagination in meta",
        "x-service-errors": [
          "normalized REST argument/taxonomy errors"
        ]
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Catalog Terms"
        ],
        "summary": "List all non-empty product tags",
        "description": "All decorated responses are private, no-store. JSON mutations only. Names and slugs follow the effective ar/en language. Results are alphabetic and paginated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated tag collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "tag_7",
                      "name": "New",
                      "slug": "new"
                    }
                  ],
                  "meta": {
                    "request_id": "req_example",
                    "page": 1,
                    "per_page": 50,
                    "total": 1,
                    "total_pages": 1
                  }
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getTags",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "same collection parameters",
        "x-frozen-response": "Term[] / 200 + pagination in meta",
        "x-service-errors": [
          "normalized REST argument/taxonomy errors"
        ]
      }
    },
    "/sellers/{seller_id}": {
      "get": {
        "tags": [
          "Sellers"
        ],
        "summary": "Get public seller/store information",
        "description": "All decorated responses are private, no-store. JSON mutations only. Public storefront identity only. This endpoint does not expose an authenticated Seller account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "seller_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^sel_[1-9][0-9]*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public seller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerPublicResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "sel_42",
                    "name": "Example Store",
                    "slug": "example-store",
                    "rating": null,
                    "rating_count": null
                  },
                  "meta": {
                    "request_id": "req_example"
                  }
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
                "$ref": "#/components/headers/CacheBackend"
              },
              "X-ElDokan-Cache-Store": {
                "$ref": "#/components/headers/CacheStore"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/ServerTiming"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Content-Language": {
                "$ref": "#/components/headers/ContentLanguage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getSellersSeller_Id",
        "security": [],
        "x-auth-class": "P",
        "x-mutation-csrf": "none",
        "x-guest-capability": "none",
        "x-frozen-request": "path, lang",
        "x-frozen-response": "Seller / 200",
        "x-service-errors": [
          "seller_not_found"
        ]
      }
    },
    "/search/suggestions": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Product autocomplete suggestions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Lang"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestionListResponse"
                }
              }
            },
            "headers": {
              "X-ElDokan-API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "X-ElDokan-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-ElDokan-Cache": {
                "$ref": "#/components/headers/CacheStatus"
              },
              "X-ElDokan-Cache-TTL": {
                "$ref": "#/components/headers/CacheTtl"
              },
              "X-ElDokan-Cache-Generation": {
                "$ref": "#/components/headers/CacheGeneration"
              },
              "X-ElDokan-Cache-Key": {
                "$ref": "#/components/headers/CacheKey"
              },
              "X-ElDokan-Cache-Backend": {
[...]
